.form-group{class: error_class(task, :name)}
 %label.col-sm-2.control-label(for='task_name') Name
 .col-sm-10
  %input#task_name.form-control(name='name' placeholder='例：買い物' type='text'){value: @task.name}
.form-group{class: error_class(task, :content)}
 %label.col-sm-2.control-label(for='task_name') Content
 .col-sm-10
  %input#task_content.form-control(name='content' placeholder='例：牛乳を買う' type='text'){value:@task.content}
.form-group
 %label.col-sm-2.control-label(for='task_status')
 .col-sm-10
  %select#task_status.form-control(name='status')
   != options_for_task_status(task)