<h1>タスクを編集</h1>

<% erb :_errors, locals: {task: @task} %>

<form action=<%= "/tasks/#{@task.id}" %> class='form-horizontal' method='post'>
  <%= erb :_form, locals: {task: @task} %>
  <div class='form-group'>
    <div class='col-sm-offset-2 col-sm-10'>
      <input name='_method' type='hidden' value='put'>
      <input class='btn btn-default' name='commit' type='submit' value='更新'>
    </div>
  </div>
</form>