<html>
<head>
  <meta charset='utf-8'>
  <title>タスクアプリケーション</title>
  <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='navbar navbar-default'>
  <a class='navbar-brand' href='/tasks'>タスクアプリケーション</a>
  <ul class='nav navbar-nav'>
    <li class='active'>
      <a herf='/tasks'>すべてのタスク</a>
    </li>
    <li>
      <a href='/tasks?status=not_yet'>まだのタスク</a>
    </li>
    <li>
      <a href='/tasks?status=pending'>また今度</a>
    </li>
    <li>
      <a href='/tasks?status=done'>終わった</a>
    </li>
  </ul>
</div>
<div class='container'>

<%= yield %>

</div>
</body>
</html>