%html
  %head
    %meta(charset='utf-8')
    %title Todo Application
    %link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
  %body
    .navbar.navbar-default
      %a.navbar-brand(href='/tasks') Todo Application
      %ul.nav.navbar-nav
        %li{class: ('active' unless @status)}
          %a(herf='/tasks') ALL Tasks
        %li{class: ('active' if @status == 'not_yet')}
          %a(href='/tasks?status=not_yet') NOT YET Tasks
        %li{class: ('active' if @status == 'pending')}
          %a(href='/tasks?status=pending') PENDING Tasks
        %li{class: ('active' if @status == 'done')}
          %a(href='/tasks?status=done') DONE Task

    .container
      != yield