<html>
<head>
  <meta charset='utf-8'>
  <title>タスク管理アプリ</title>
  <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='navbar navbar-default'>
  <a class='navbar-brand' href='/tasks'>タスク管理アプリ</a>
  <ul class='nav navbar-nav'>
    <li class='active'>
      <a herf='/tasks'>全タスク</a>
    </li>
    <li>
      <a href='/tasks?status=not_yet'>未完了</a>
    </li>
    <li>
      <a href='/tasks?status=pending'>ペンディング</a>
    </li>
    <li>
      <a href='/tasks?status=done'>完了</a>
    </li>
  </ul>
</div>
<div class='container'>

<%= yield %>

</div>
</body>
</html>