<h1>タスクの新規作成</h1>

<%= erb :_errors, locals: {task: @task} %>

<form action='/tasks' class='form-horizontal' method='post'>
<%= erb :_form, locals: {task: @task} %>
  <div class='form-group'>
    <div class='col-sm-offset-2 col-sm-10'>
      <input class='btn btn-default' name='commit' type='submit' value='作成'>
    </div>
  </div>
</form>