%h1 New Task

!= haml :_errors, locals: {task: @task}

%form.form-horizontal(method='post' action='/tasks')
 != haml :_form, locals: {task: @task}
 .form-group
  .col-sm-offset-2.col-sm-10
   %input.btn.btn-default(name='commit' type='submit' value='Create')

